<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img src="https://img.freepik.com/free-photo/shipping-industry-delivering-cargo-large-container-ship-generative-ai_188544-9112.jpg?t=st=1713525860~exp=1713529460~hmac=b7111d573ab6ab363939003298d3378b545e027b2a1cee10553000ab26827dcb&w=1380" height="40" class="mr-2" />
        </ng-template>
        <ng-template pTemplate="end">
        <p-button [label]="auth.token.Name" icon="pi pi-fw pi-power-off"[text]="true" severity="secondary" (click)="logout()"></p-button>
    </ng-template>
    </p-menubar>
</div>

<router-outlet></router-outlet>